* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono NF;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Workspaces */
#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    background: #2b2f3a;
}

#workspaces button {
    color: #9aa0aa;
    background: transparent;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px; /* Keep rounded corners */
    transition: background 0.15s ease, color 0.15s ease;
}

#workspaces button.persistent {
    font-size: 12px;
}

#workspaces button:hover {
    color: #2b2f3a;
    background: #81a1c1;
    border-radius: 10px; /* Preserve rounding */
}

#workspaces button.focused {
    color: #e4e7ed;
}

/* Grouped module styles */
#language, #keyboard-state, #custom-pacman, #custom-mail,
#mode, #clock, #custom-weather, #pulseaudio, #custom-mem,
#temperature, #backlight, #battery, #tray {
    color: #e4e7ed;
    background: #2b2f3a;
    transition: background 0.15s ease, color 0.15s ease;
}

#language {
    border-radius: 10px 0 0 10px;
    padding: 0 8px 0 16px;
}

#keyboard-state {
    border-radius: 0 10px 10px 0;
    padding: 0 16px 0 0;
    margin-right: 8px;
}

#custom-pacman {
    border-radius: 10px 0 0 10px;
    padding: 0 8px 0 16px;
}

#custom-mail {
    border-radius: 0 10px 10px 0;
    padding: 0 16px 0 0;
    margin-right: 8px;
}

#mode {
    border-radius: 10px;
    padding: 0 16px;
}

#clock {
    border-radius: 10px 0 0 10px;
    padding: 0 16px;
}

#custom-weather {
    border-radius: 0 10px 10px 0;
    padding: 0 16px;
}

#pulseaudio, #custom-mem, #temperature, #backlight, #battery, #tray {
    border-radius: 10px;
    padding: 0 16px;
    margin-right: 8px;
}

/* Special states */
#pulseaudio.muted {
    background-color: #4c566a;
    color: #d8dee9;
}

#temperature.critical {
    background-color: #f7768e;
}

#battery.charging {
    background-color: #26a65b;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: #000;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: #e4e7ed;
        color: #000;
    }
}

